.example-card{
    background-color: #73D2DE;
}

.handwritten-font {
    font-family: 'Pacifico', cursive; 
    font-weight: bold;
    color:hotpink
  }
  
  .larger-font {
    font-size: 1.3em; 
  }

  .status{
    color:white;
  }
  