@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.tb {
    background-color: #ffe7f889;
}

.tbtxt {
    color: black;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    font-size: 1.2rem;

}

.addbtn {
    position: absolute;
    top: 17px;
    right: 20px; 
    background-color: #73D2DE;
    border-radius: 0.35rem;
    border-color: #73D2DE;
    margin-right: 160px;
  }
  

